body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("./assets/images/mountain.avif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .todo-container {
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    width: 80%; 
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .todo-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .todo-list li {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 1px solid #ddd;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 4px;
  }
  
 
  
  .actions-container {
    display: flex;
    justify-content: flex-end; 
  }
  
  .liked {
    color: red;
    font-weight: bold;
  }
  
  
  
  
  
  .addBtn{
    background-color: blue;
    color: white;
  }
  .addBtn:hover{
    background-color: white;
    color: blue;
    border: solid blue;
  }